input{
    padding: 20px;
    margin: 10px;
    width: 200px;
    
}
button{
    padding: 10px 20px;
    margin: 5px;
    background-color: grey;
    color: white;
    border: none;
    cursor: pointer;
}